<apex:component id="InternalContactSelector" controller="InteractionController" allowDML="true">
    <apex:attribute name="c" type="InteractionHelper"
                    assignTo="{!sh}"
                    
                    description="The controller for the page." />
    <apex:attribute name="cancelMethod" description="The cancel method from the parent controller" type="ApexPages.Action" required="true"/>
    
    
    <apex:includescript value="//code.jquery.com/jquery-2.2.2.min.js" />
    <apex:includescript value="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css" />
    <script>
    j$ = jQuery.noConflict();
    j$(document).ready( function () {
        console.debug('loading....')
        
        var contactTable = j$('[id$="intcontactTable2"]').DataTable({
            "paging":   false
        });
        
    });
    
    </script>
    <!-- CONTACT -->
    <apex:outputPanel id="contactPanel2"  >
        <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
            <div class="slds-form--stacked slds-grow slds-scrollable--y">
                
                <div class="slds-panel__section">
                    
                    <div data-reactid=".5.0.1" role="alert" class="slds-notify slds-notify--alert slds-theme--inverse-text slds-theme--alert-texture slds-m-top--large">
                        <span class="slds-assistive-text">Success</span>
                        <h2><span>Step 4. Select FA Attendees</span>
                        </h2>
                    </div>
                    
                    <h3 class="slds-text-heading--small slds-m-bottom--medium"> Contacts</h3>
                    <div>
                        <apex:dataTable id="intcontactTable2" value="{!sh.intcontacts}" var="o" headerClass="slds-text-title--caps" styleClass="slds-table slds-table--bordered slds-table--striped">
                            <apex:column >
                                <apex:facet name="header" >Select Contact</apex:facet>
                                <apex:inputCheckbox value="{!o.selected}"/>
                                
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header" > Name</apex:facet>
                                <apex:outputText value="{!o.val.name}"/>
                            </apex:column>
                            <!--<apex:column >
                                <apex:facet name="header" >Account Name</apex:facet>
                                <apex:outputText value="{!o.val.account.name}"/>
                            </apex:column>-->
                            
                        </apex:dataTable>
                        
                    </div>
                    
                    
                </div>
                <div class="slds-panel__section slds-has-divider--bottom">
                    <div class="slds-media">
                        <div class="slds-media__body">
                            <div class="slds-button-group slds-m-top--small" role="group">
                                <apex:commandButton styleClass="slds-button slds-button--brand" action="{!sh.step3}"
                                                    value="Previous " rerender="theForm" />
                                <apex:commandButton styleClass="slds-button slds-button--brand" action="{!sh.saveInteraction}"
                                                    value="Save " rerender="theForm" />
                                <apex:commandButton styleClass="slds-button slds-button--brand" action="{!cancelMethod}"
                                                    value="Cancel" rerender="theForm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </apex:outputPanel>
    <!-- / CONTACT DETAIL CARD -->
</apex:component>