<apex:page id="InteractionWizard" showHeader="false" standardStylesheets="true"
           extensions="InteractionController"
           sidebar="false" docType="html-5.0" standardController="Onsite_Call__c"
           applyBodyTag="False" applyHtmlTag="False">
    <apex:includescript value="//code.jquery.com/jquery-2.2.2.min.js" />
    <apex:includescript value="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css" />
    <apex:slds />

    <script>
        j$ = jQuery.noConflict();
    </script>
    
    <body class="slds-scope">
        <div class="slds-page-header" role="banner">
            <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate">
                    <!-- HEADING AREA -->
                    <p class="slds-text-title--caps slds-line-height--reset">Interaction</p>
                    <h1 class="slds-page-header__title slds-truncate" title="My Accounts">New Interaction</h1>
                    <span class="slds-icon_container slds-icon--small slds-icon-standard-account" title="Account Standard Icon">
                        <img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/account_60.png')}" alt="Account Standard Icon" />
                    </span>
                </div>
                <div class="slds-col slds-no-flex slds-grid slds-align-top">
                    <!--<button class="slds-button slds-button&#45;&#45;neutral">Next</button>-->
                </div>
            </div>
        </div>
        <apex:form id="theForm">

            <apex:outputPanel id="InteractionPanel" rendered="{!sh.step1}">
                <c:InteractionStart cancelMethod="{!cancel}"  c="{!sh}"  acc="{!accountID}" opp="{!opportunityId}"/>
            </apex:outputPanel>
            <apex:outputPanel id="presentationPanel" rendered="{!sh.step2}">
                <c:PresentationSelector cancelMethod="{!cancel}"  c="{!sh}"/>
            </apex:outputPanel>
            <apex:outputPanel id="contactPanel" rendered="{!sh.step3}" >
                <c:ContactSelector cancelMethod="{!cancel}"  c="{!sh}"></c:ContactSelector>
            </apex:outputPanel>
            <apex:outputPanel id="intcontactPanel" rendered="{!sh.step4}" >
                <c:InternalContactSelector cancelMethod="{!cancel}"  c="{!sh}"></c:InternalContactSelector>
            </apex:outputPanel>
        </apex:form>
    </body>
</apex:page>