<apex:page standardController="Attachment__c" extensions="AttachmentController">
<apex:sectionHeader title="Attachments" subtitle="{! IF(ISNULL(attachment.Last_Attachment_Id__c), 'New', 'Edit') } Attachment" />
<apex:form >
<apex:inputHidden value="{!attachment.Last_Attachment_Id__c}" />
<apex:pageBlock title="Attachment Form" mode="edit">
<apex:pageMessages />
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{! save }"/>
<apex:commandButton value="Cancel" action="{! cancel }" />
</apex:pageBlockButtons>
<apex:pageBlockSection columns="1">
<apex:inputField value="{!attachment.Account__c}" />
<apex:inputField value="{! attachment.Opportunity__c }" />
<apex:inputField value="{! attachment.Spec__c }" rendered="{! !ISBLANK($CurrentPage.parameters.specId) }"/>
<apex:inputField value="{! attachment.Presentation__c }" rendered="{! !ISBLANK($CurrentPage.parameters.presentationId) }"/>
<apex:inputField value="{! attachment.LPAF__c }" rendered="{! !ISBLANK($CurrentPage.parameters.lpafId) }"/>
<apex:inputField value="{!attachment.Attachment_Type__c}" required="true"/>
<apex:pageBlockSectionItem >
<apex:outputLabel value="File" />
	<apex:inputFile value="{!fileBody}" filename="{! fileName }"/>
	</apex:pageBlockSectionItem>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>