<apex:page standardcontroller="Task">
<apex:form >
<apex:pageblock >
<apex:pageblocksection >
<apex:repeat value="{!$ObjectType.Task.FieldSets.New_Task}" var="f"> 
<apex:inputfield value="{!Task[f]}">
</apex:inputfield></apex:repeat>
</apex:pageblocksection>
<apex:pageblockbuttons >
<apex:commandbutton action="{!Save}" value="Submit Task">
</apex:commandbutton></apex:pageblockbuttons>
</apex:pageblock>
</apex:form>
</apex:page>