<apex:page standardcontroller="Presentation__c">
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
<script>
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

	var Account = getParameterByName('Account');
	var Account_lkid = getParameterByName('Account_lkid');
 	var Oportunity = getParameterByName('Opportunity');
 	var Oportunity_lkid = getParameterByName('Opportunity_lkid');
 	var RequestedBy = getParameterByName('RequestedBy');
 	var RequestedBy_lkid = getParameterByName('RequestedBy_lkid');
	var Presented_at_Onsite_Call__c = getParameterByName('Presented_at_Onsite_Call__c');
	var Presented_at_Onsite_Call__c_lkid = getParameterByName('Presented_at_Onsite_Call__c_lkid');
 	var CustomerContact = getParameterByName('CustomerContact');
 	var CustomerContact_lkid = getParameterByName('CustomerContact_lkid');
 	var PresentedDate = getParameterByName('PresentedDate');

	var j$ = jQuery.noConflict();
	
	j$(document).ready(function(){
		function getCleanName(theName) {
			return '#' + theName.replace(/:/gi,"\\:");
		}
	
		j$(getCleanName('{!$Component.Form.pb.pbs.Account}')).val(Account);
		j$(getCleanName('{!$Component.Form.pb.pbs.Account}') + "_lkid").val(Account_lkid);
		
		j$(getCleanName('{!$Component.Form.pb.pbs.Presented_at_Onsite_Call__c}')).val(Presented_at_Onsite_Call__c);
		j$(getCleanName('{!$Component.Form.pb.pbs.Presented_at_Onsite_Call__c}') + "_lkid").val(Presented_at_Onsite_Call__c_lkid);
		
		j$(getCleanName('{!$Component.Form.pb.pbs2.CustomerContact}')).val(CustomerContact);
		j$(getCleanName('{!$Component.Form.pb.pbs2.CustomerContact}') + "_lkid").val(CustomerContact_lkid);
		
		j$(getCleanName('{!$Component.Form.pb.pbs2.PresentedDate}')).val(PresentedDate);

		j$(getCleanName('{!$Component.Form.pb.pbs.RequestedBy}')).val(RequestedBy);
		j$(getCleanName('{!$Component.Form.pb.pbs.RequestedBy}') + "_lkid").val(RequestedBy_lkid);

		j$(getCleanName('{!$Component.Form.pb.pbs.Opportunity}')).val(Opportunity);
		j$(getCleanName('{!$Component.Form.pb.pbs.Opportunity}') + "_lkid").val(Opportunity_lkid);

	});

 </script>
    
<apex:messages />
	<apex:sectionheader title="{!$ObjectType.Presentation__c.label} Edit" subtitle="{!IF(ISNULL(Presentation__c.Name), 'New Presentation',Presentation__c.Name)}"/>
	<apex:form id="Form">
		<apex:pageblock mode="edit" title="{!$ObjectType.Presentation__c.label} Edit" id="pb">
			<apex:pageblockbuttons >
				<apex:commandbutton value="Save" action="{!Save}"/>
				<apex:commandbutton value="Cancel" action="{!Cancel}"/>
			</apex:pageblockbuttons>

			<!-- **********   [Record Type : Master ]   **********  -->
			<apex:outputpanel >
				<apex:pageblocksection title="Related To / For" showheader="true" columns="2" id="pbs">
					<apex:inputfield value="{!Presentation__c.Related_to_Account__c}" required="true" id="Account" />
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Presentation__c.Opportunity__c}" required="false" id="Opportunity" />
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Presentation__c.Requested_By__c}" required="false" id="RequestedBy" />
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Presentation__c.Presented_at_Onsite_Call__c}" required="false" id="Presented_at_Onsite_Call__c"/>
					<apex:pageblocksectionitem />
				</apex:pageblocksection>
				<apex:pageblocksection title="Standard Presentations" showheader="true" columns="2" id="pbs2">
					<apex:inputfield value="{!Presentation__c.Presented__c}" required="false"/>
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Presentation__c.Customer_Contact__c}" required="false"  id="CustomerContact" />
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Presentation__c.Date_Presented__c}" required="false" id="PresentedDate" />
					<apex:pageblocksectionitem />
				</apex:pageblocksection>
			</apex:outputpanel>
		</apex:pageblock>
	</apex:form>
</apex:page>