<apex:page standardController="Contact" extensions="OBCTemplateSelectorController" action="{!populateTemplate}"  showHeader="false" sidebar="false">
    <apex:slds />
    <body class="slds-scope">
	<div class="slds-page-header" role="banner">
		<div class="slds-grid">
			<div class="slds-col slds-has-flexi-truncate">
				<!-- HEADING AREA -->
				<p class="slds-text-title--caps slds-line-height--reset">OBC Sent Alerts</p>
				<h1 class="slds-page-header__title slds-truncate" title="OBC Sent Alerts">Sent Email</h1>
				<span class="slds-icon_container slds-icon--small slds-icon-standard-email" title="Email Standard Icon">
				<img src="{!URLFOR($Asset.SLDS, 'assets/icons/standard/email_60.png')}" alt="Email Icon" />
				</span>
			</div>
		</div>
    </div>
    <apex:messages />
	<apex:form id="theForm" rendered="{!render}">
	<apex:outputPanel id="dataSection" >
	<div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
		<div class="slds-form--stacked slds-grow slds-scrollable--y">
			<div class="slds-panel__section">
				<div class="slds-p-horizontal--small slds-size--10-of-12">
					<div class="slds-form-element">
						<label class="slds-form-element__label" for="idRecipient">To:</label>
                        <div class="slds-form-element__control">
                            <apex:inputTextarea id="idRecipient"  value="{!emailMsg.ToAddress}" styleclass="slds-textarea"/>
                        </div>							
                    </div>
                    <div class="slds-form-element">
						<label class="slds-form-element__label" for="idSender">From:</label>
                        <div class="slds-form-element__control">
                            <apex:outputLabel id="idSender" value="{!emailMsg.FromAddress}" styleclass="slds-input"/>
                        </div>					
                    </div>
                    <div class="slds-form-element">
						<label class="slds-form-element__label" for="idSubject">Subject:</label>
                        <div class="slds-form-element__control">
                            <apex:outputLabel id="idSubject" value="{!emailMsg.Subject}" styleclass="slds-input"/>
                        </div>					
                    </div>
                    <!--<div class="slds-form-element">
						<label class="slds-form-element__label" for="idAddlRecipients">Additional To:</label>
                        <div class="slds-form-element__control">
                            <apex:inputTextarea id="idAddlRecipients"  value="{!emailMsg.ToAddress}" styleclass="slds-textarea"/>
                        </div>							
                    </div>-->
                    <div class="slds-form-element">
						<label class="slds-form-element__label" for="idCcRecipients">CC:</label>
                        <div class="slds-form-element__control">
                            <apex:inputTextarea id="idCcRecipients"  value="{!emailMsg.CcAddress}" styleclass="slds-textarea"/>
                        </div>							
                    </div>
					<div class="slds-form-element">
						<label class="slds-form-element__label" for="idBccRecipients">BCC:</label>
                        <div class="slds-form-element__control">
                            <apex:inputTextarea id="idBccRecipients"  value="{!emailMsg.BccAddress}" styleclass="slds-textarea"/>
                        </div>							
                    </div>
        		    <apex:outputLabel styleClass="labelText">Additional Attach File</apex:outputLabel>
                    <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}"/>
                    <!-- Start-->
<div style="width: 20rem;">
  <div class="slds-file slds-file_card">
   <a href="/servlet/servlet.FileDownload?file={!fileId}" class="slds-image__crop slds-image__crop--16-by-9" target="_blank">
   <apex:image url="/servlet/servlet.FileDownload?file={!fileId}" alt="{!fileName}" rendered="{!show}"/>-->
  </a>
  <figcaption class="slds-file__title slds-file__title_card">
    <span class="slds-icon_container" title="{!fileName}">{!fileName}</span>
  </figcaption>
      </div>
</div>
                   <!-- End -->
                    <div class="slds-form-element">
						<label class="slds-form-element__label" for="idBody">Message:</label>
                        <div class="slds-rich-text-editor__textarea slds-grid">
                            <!-- <apex:outputtext style="white-space:pre-wrap;" value="{!emailMsg.TextBody}" escape="false" /><br />-->
                            <apex:inputTextarea id="idBody" richText="true" value="{!emailMsg.TextBody}"  styleclass="slds-rich-text-area__content slds-text-color_weak slds-grow"/>
                        </div>							
                    </div>
				</div>
			</div>
			<div class="slds-panel__section slds-has-divider--bottom">
				<div class="slds-media">
					<div class="slds-media__body">
						<div class="slds-button-group slds-m-top--small" role="group">							
							<apex:commandButton styleClass="slds-button slds-button--brand" value="Send" action="{!send}"/>
                            <apex:commandButton styleClass="slds-button slds-button--brand" value="Cancel" onclick="window.top.close();"/>
							<!-- <apex:commandButton styleClass="slds-button slds-button--brand" value="Cancel" action="{!cancel}" immediate="true" />-->
						</div>
					</div>
				</div>
            </div>
		</div>		
	</div>
	</apex:outputPanel>
   </apex:form>
    </body>
</apex:page>