<apex:page controller="LeadController" sideBar="false" readOnly="true">
<style type="text/css">
	.pbBottomButtons .pbTitle {
		width: 0%;
	}
	.pbBottomButtons .pbButtonb {
		width: 100%;
		text-align: center;
	}
	
	.filters .pbBody label {
		padding-top: 10px !important;
	}
</style>
<apex:sectionHeader title="Lead" subtitle="Advanced Search" /><br/>
<apex:form >
<apex:outputPanel layout="block" style="overflow:hidden;width:100%;">
<apex:outputPanel layout="block" style="width:25%;float:left;" styleClass="filters">
<apex:outputPanel layout="block" style="padding:5px;">
<apex:pageBlock mode="edit" title="Filters">
<apex:pageBlockButtons location="bottom">
<apex:commandButton value="Search" action="{!search}"/>
<apex:commandButton value="Clear Filters" action="{!clear}"/>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="1">
<apex:outputLabel for="company" value="Company" />
<apex:inputField id="company" value="{!lead.Company}" label="" style="width: 100%" required="false"/>
<apex:outputLabel for="client_type" value="Client Type" />
<apex:inputField id="client_type" value="{!lead.Client_Type__c}" label="" style="width: 100%"/>
<apex:outputLabel for="first_name" value="First Name" />
<apex:inputField id="first_name" value="{!lead.FirstName}" label="" style="width: 100%"/>
<apex:outputLabel for="last_name" value="Last Name" />
<apex:inputField id="last_name" value="{!lead.LastName}" label="" style="width: 100%" required="false"/>
<apex:outputLabel for="state" value="State" />
<apex:inputField id="state" value="{!lead.State_Name__c}" label="" style="width: 100%"/>
<apex:outputLabel for="zip_code" value="Zip Code" />
<apex:inputField id="zip_code" value="{!lead.PostalCode}" label="" style="width: 100%"/>
<apex:outputLabel for="min_vehicles" value="Fleet Min Size" />
<apex:inputText id="min_vehicles" value="{!minTotalVehicles}" label="" style="width: 100%"/>
<apex:outputLabel for="max_vehicles" value="Fleet Max Size" />
<apex:inputText id="max_vehicles" value="{!maxTotalVehicles}" label="" style="width: 100%"/>
<apex:outputLabel for="sic_code" value="SIC Code Group" />
<apex:inputField id="sic_code" value="{!lead.SIC_Code_Group__c}" label="" style="width: 100%"/>
<apex:outputLabel for="unit_type" value="Unit Type" />
<apex:inputField id="unit_type" value="{!lead.Unit_Type__c}" label="" style="width: 100%"/>
<apex:outputLabel for="trailer_type" value="Trailer Type" />
<apex:inputField id="trailer_type" value="{!lead.Trailer_Type__c}" label="" style="width: 100%"/>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel>
</apex:outputPanel>
<apex:outputPanel id="results" layout="block" style="width:75%;float:left;">
<apex:outputPanel layout="block" style="padding:5px;">
<apex:pageBlock title="Search Results">
<apex:pageBlockTable value="{!leads}" var="l">
<apex:column headerValue="Actions" style="text-align:center;">
<apex:outputLink value="/{!l.Id}">View Lead</apex:outputLink>
</apex:column>
<apex:column value="{!l.Company}" headerValue="Company Name" />
<apex:column value="{!l.Total_Vehicles__c}" headerValue="Fleet Size" />
<apex:column value="{!l.Phone}" headerValue="Phone Number"/>
<apex:column value="{!l.LastActivityDate}" />
</apex:pageBlockTable>
</apex:pageBlock>
</apex:outputPanel>
</apex:outputPanel>
</apex:outputPanel>
</apex:form>
</apex:page>