<apex:page standardcontroller="Task"><apex:messages />
	<apex:sectionheader title="{!$ObjectType.Task.label} Edit" subtitle="{!IF(ISNULL(Task.subject), 'New Task',Task.subject)}"/>
	<apex:form >
		<apex:pageblock mode="edit" title="{!$ObjectType.Task.label} Edit">
			<apex:pageblockbuttons >
				<apex:commandbutton value="Save" action="{!Save}"/>
				<apex:commandbutton value="Cancel" action="{!Cancel}"/>
			</apex:pageblockbuttons>
			<apex:outputpanel >
				<apex:pageblocksection title="Task Information" showheader="true" columns="2">
					<apex:inputfield value="{!Task.OwnerId}" required="true"/>
					<apex:inputfield value="{!Task.WhatId}" required="false"/>
					<apex:inputfield value="{!Task.Subject}" required="true"/>
					<apex:inputfield value="{!Task.WhoId}" required="false"/>
					<apex:inputfield value="{!Task.Type}" required="false"/>
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Task.ActivityDate}" required="false"/>
					<apex:pageblocksectionitem />
				</apex:pageblocksection>
				<apex:pageblocksection title="Description Information" showheader="false" columns="1">
					<apex:inputfield value="{!Task.Description}" required="false"/>
				</apex:pageblocksection>
				<apex:pageblocksection title="Additional Information" showheader="true" columns="2">
					<apex:inputfield value="{!Task.Status}" required="true"/>
					<apex:pageblocksectionitem />
					<apex:inputfield value="{!Task.Priority}" required="true"/>
					<apex:pageblocksectionitem />
				</apex:pageblocksection>
			</apex:outputpanel>
		</apex:pageblock>
	</apex:form>
	<center><br/>
		<i style="font-size:10px;color:#aaa;">Generated By LAYOUT PAGE <a href="http://www.clerisoft.com" target="_blank">[http://www.clerisoft.com]</a> (2008-2013) : Mon Apr 14 2014 09:34:14 GMT-0400 (Eastern Daylight Time)</i>
	</center><br/>
</apex:page>