	@page {
        size:letter portrait;
        border: 2px solid green;
        margin-left: 16px;    
        margin-right: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 10px;
        font-family:Helvetica Narrow, sans-serif;
        @bottom-center {
			content: element(footer);
		}
    }

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
	 ". . . . . . . . . . . . . . . . . . . . "
	 ". . . . . . . . . . . . . . . . . . . . "
	 ". . . . . . . . . . . . . . . . . . . . "
	 ". . . . . . . . . . . . . . . . . . . .INCLUDED "
}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: #E8F9FF
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: #E8F9FF
}
.small {
	text-align:center;
	font-size:10px;
	vertical-align:top;
}
.medium {
	text-align:center;
	font-size:14px;
	vertical-align:top;
}
.mediumnc {
	font-size:14px;
	vertical-align:top;
}
.mediumnc_bottom {
	font-size:14px;
	vertical-align:bottom;
}
.large {
	text-align:center;
	font-size:18px;
	vertical-align:top;
}
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

div.footer {
	display: block;
	padding: 1px;
	position: running(footer);
	font-size:12px;
	text-align:center;
}

.pagenumber:before {
	content: counter(page);
}

.pagecount:before {
	content: counter(pages);
}